@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* overflow: hidden; */

}

a {
  text-decoration: none;
  color: white;
}

.heading h1 {
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.login .heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 8px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-success {
  background-color: #009879;
  padding: 15px 30px;
  border: 1px solid #009879;
}

.btn-warning,
.btn-danger {
  display: inline-block;
  margin: 0 3px;
  padding: 4px 4px;
}

.btn-warning {
  background-color: #68bbd8;
  border: 1px solid #68bbd8;
}

.btn-danger {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-reverse:hover {
  background: #000;
  color: #fff;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

/* side bar */

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #000;
  color: white;
  font-size: 1.2rem;
  display: inline-table;
  position: absolute;
  top: 20;
}

.sidbar_list {
  height: auto;
  width: 100%;
  padding: 0;
}

.sidbar_list li:hover {
  background: #353535;
  cursor: pointer;
}

.sidebar_list-row {
  height: 100%;
  width: 100%;
  list-style-type: none;
  padding: 10px 20px;
}

/* table */
.container {
  left: 272px;
  width: 980px;
  position: absolute;
  top: 85px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: center;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table .btn {
  padding: 2px;
}
/* dashboard */
.dashboard {
  background-image: url("https://images.unsplash.com/photo-1431540015161-0bf868a2d407?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  width: calc(100% - 250px);
  margin-left: 250px;
  height: 100vh;
  background-size: cover;
  display: inline-table;

}
/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
}

li a {
  padding: 8px 14px;
  background-color: white;
  color: black;
  margin: 8px;
  border: #000 solid 1px;
  border-radius: 3px;
}

li a:hover {
  background-color: black;
  color: white;
  transform: scale(1);
}

.active {
  background-color: #000;
  color: white;
}

.filter {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
}

.filter .form-group {
  margin: 0 10px 0 0;
}

.filter .btn {
  border: 1px solid #e6e6e6;
  font-family: inherit;
}

.sidebar_list-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidbar_list .active {
  font-weight: bold;
}
.sidbar_list .active li {
  background: #353535;
}

.btn-danger svg,
.btn-warning svg {
  margin-right: 0;
}

/* welcome page */
.flex-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  align-items: center;
}

.flex-welcome div:first-child p {
  font-size: 3rem;
}

.container-btn {
  display: flex;
  justify-content: flex-start;
}

.container-btn a {
  margin-top: 3rem;
}

.container-btn .btn-warning {
  padding: 15px 20px 0 20px;
}

/* not found page */
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found p {
  color: #555555;
}
.not-found div:first-child p {
  font-size: 12rem;
  letter-spacing: 1rem;
  font-weight: lighter;
}

.not-found div:nth-of-type(2) p {
  font-weight: 700;
  font-size: 2rem;
}

.not-found div:nth-of-type(3) p {
  font-weight: 600;
  margin: 20px 0 20px 0;
}

/* spinner */

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

/* search input */
.search {
  align-items: baseline;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

